{% extends 'base.html.twig' %}

{% block title %}Nouveau site{% endblock %}

{% block body %}
    <h1>Nouveau site</h1>

    {{ include('site/_form.html.twig') }}

    <a href="{{ path('SITE_INDEX') }}" class="btn btn-primary">Retour</a>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/site-form.js') }}"></script>
{% endblock %}