<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}URL Checker{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% include 'includes/navigation.html.twig' %}
        <div class="container my-5">
            {% block body %}{% endblock %}
        </div>
        <script src="{{ asset('js/plugins.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{ asset('js/app.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
